# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django database
*.sqlite3   

# Environment / secrets
*.env
venv/
Lib/
Scripts/
pyvenv.cfg
CACHEDIR.TAG

# Django media files
media/


# Logs
*.log

# VSCode
.vscode/

# macOS files
.DS_Store

# PyCharm
.idea/
