html, body {
  max-width: 100%;
  overflow-x: hidden; /* بيخفي أي مساحة زيادة تظهر على اليمين */
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box; /* بيخلي الـ Padding يتحسب من ضمن العرض مش فوقه */
}